/*Page Layout*/
body{
font-family:sans-serif;
/*background-color: #cccccc; */
color: #777777;
margin-top: 0;
margin-bottom: 0;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
/*background-image: url(https://data.whicdn.com/images/285235079/original.gif);*/
/*background-image: url(https://i.gifer.com/cFv.gif);*/
/*background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/V3GIUd5/abstract-shooting-star-animation-loop-blue_bwj6tiab__F0000.gif);*/
background-image: url(https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif);
background-position: center;
background-size: cover;

}

header{
    background-color:#ffffff;
    border-bottom: 4px solid;
    border-color: #cccccc;
    margin: 0px;
    padding:0px;
    block-size: 75px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}


li{
    display: inline;
    list-style-type: none;
    margin:0;
    padding-left: 25px;
    padding-right: 25px;
    border-right: .1px solid;
    border-color: #cccccc;
    font-size: 20px;
   
}

.Block{
    block-size: 573px;
    background-color:#ffffff;
    border: 4px solid;
    border-color: #dddddd;
    clear: both;
    padding:30px;
    width: 960px;
    left:19.1%;
    right: 19.1;
    position: absolute;

}

#end{
    border: none;
}

h2{
    color:#4aaaa5;
    font-size: 32px;
}


footer{
    position: fixed;
    bottom: 0%;
    background-color: #666666;
    border-top: 10px solid;
    border-top-color: #4aaaa5;
    width: 100%;
}
.name{
    float: left;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0px 0px 0px 19%;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    font-size: 35px;
}
a {
color: #cccccc;
text-decoration: none;

}
a:hover {
    color:#4aaaa5;

}
ul{
    margin: 0 18% 0 0;
    padding:0px;
    display: flex;
    justify-content: flex-end;
    block-size: 74.5px;
    align-items: center;
}

#copyright{
    display: flex;
    font-size: 10px;
    color: #cccccc;
    justify-content: center;
}
div {
    max-height: 100vh;
    overflow: hidden;
}

/*About Me | Index Specifics*/
.paragraph{
    font-size: 18px;
}


img{
    float: left;
    margin: 0% 2% 1% 0%;
}

/*Contact Page Specfics*/
.inputLength{
    width: 100%;
    height:18px;
    border: 1px solid #dddddd;
}

textarea{
    resize: none;
    width: 100%;
    border: 1px solid #dddddd;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    padding:1% 3% 1% 3%;

}
h1{ height: 100%}

/*Portfolio Page Specifics*/

.BlockPortfolio {
    block-size: 663px;
    background-color:#ffffff;
    border: 4px solid;
    border-color: #dddddd;
    clear: both;
    padding:30px;
    position: relative;
    width: 960px;
    left:19.1%;


}

.portfolioPic{
    margin: 1% 4% 3% 0%;
}