/*Page Layout*/
body{
font-family:sans-serif;
background-color: #cccccc;
color: #777777;
margin-top: 0;
margin-bottom: 0;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

header{
    background-color:#ffffff;
    border-bottom: 4px solid;
    border-color: #dddddd;
    margin: 0px;
    padding:0px;
    width: 100%;
    block-size: 75px;
    font-family:'Georgia', Times, Times New Roman, serif;

}


li{
    display: inline;
    list-style-type: none;
    margin:0;
    padding-left: 25px;
    padding-right: 25px;
    border-right: .1px solid;
    border-color: #cccccc;
    font-size: 20px;
   
}

.Block{
    block-size: 573px;
    background-color:#ffffff;
    border: 4px solid;
    border-color: #dddddd;
    clear: both;
    padding:30px;
    position: relative;
    width: 960px;
    left:19.1%;

}

#end{
    border: none;
}

h2{
    color:#4aaaa5;
    font-size: 32px;
}


img{
    float: left;
}

footer{
    
    background-color: #666666;
    border-top: 11px solid;
    border-top-color: #4aaaa5;
    width: 100%;
    block-size: 60px;
}
.name{
    float: left;
    color:#ffffff;
    background-color: #4aaaa5;
    margin: 0px 0px 0px 19%;
    padding: 1.5% 2% 1.5% 2%;
    height: 25px;
}
a {
color: #cccccc;
text-decoration: none;

}
a:hover {
    color:#4aaaa5;
}
ul{
    margin: 0 18% 0 0;
    padding:0px;
    display: flex;
    justify-content: flex-end;
    block-size: 74.5px;
    align-items: center;
}

#copyright{
    display: flex;
    font-size: 10px;
    color: #cccccc;
    justify-content: center;
}

/*Contact Page Specfics*/
.inputLength{
    width: 100%;
    height:18px;
    border: 1px solid #dddddd;
}

textarea{
    resize: none;
    width: 100%;
    border: 1px solid #dddddd;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    padding:1% 3% 1% 3%;

}

/*Portfolio Page Specifics*/

.BlockPortfolio {
    block-size: 663px;
    background-color:#ffffff;
    border: 4px solid;
    border-color: #dddddd;
    clear: both;
    padding:30px;
    position: relative;
    width: 960px;
    left:19.1%;


}

.portfolioPic{
    margin: 1% 4% 3% 0%;

}